* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

.cc-bg {
  background: url(./images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 30%;
  height: 100vh;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 3rem;
}

.cc-component-container {
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cc-images {
  position: relative;
}

.front-cc-img {
  position: relative;
}

.cc-logo img {
  position: absolute;
  top: 7%;
  left: 5%;
}

p.cc-number {
  position: absolute;
  top: 48%;
  left: 9%;
  font-size: 28px;
  color: #fff;
  letter-spacing: 3px;
}

.cc-cardholder-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

p.cc-name {
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  top: 82%;
  left: 8%;
}

p.cc-date {
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  top: 82%;
  right: 8%;
}

.back-cc-img {
  transform: translateX(6rem);
  padding-top: 2rem;
  position: relative;
}

p.cvc-number {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  top: 51%;
  right: 12%;
}
