* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

/* 





CC Background





*/

.cc-bg {
  background: url(./images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 30%;
  height: 100vh;
  position: relative;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 3rem;
}

.cc-component-container {
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cc-images {
  position: relative;
}

.front-cc-img {
  position: relative;
}

.cc-logo img {
  position: absolute;
  top: 7%;
  left: 5%;
}

p.cc-number {
  position: absolute;
  top: 48%;
  left: 9%;
  font-size: 28px;
  color: #fff;
  letter-spacing: 3px;
}

.cc-cardholder-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

p.cc-name {
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  top: 82%;
  left: 8%;
}

p.cc-date {
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  top: 82%;
  right: 8%;
}

.back-cc-img {
  transform: translateX(6rem);
  padding-top: 2rem;
  position: relative;
}

p.cvc-number {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  top: 51%;
  right: 12%;
}

/* 







CC Form






*/

.cc-form {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.form-control {
  margin: 1.7rem 0rem;
}

label {
  display: block;
  color: #21092f;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

input.big-input {
  width: 381px;
  height: 45px;
  padding-left: 12px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #dfdee0;
}

input.big-input::placeholder {
  color: #21092f;
  opacity: 0.25;
  font-size: 18px;
}

.date-cvc-form-container {
  position: relative;
}

label.cvc-label {
  position: absolute;
  top: 5%;
  right: 44%;
}

input.date-inputs {
  width: 80px;
  height: 45px;
  padding-left: 12px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #dfdee0;
}

input.date-inputs::placeholder {
  color: #21092f;
  opacity: 0.25;
  font-size: 18px;
}

input.cvc-input-style {
  width: 191px;
  height: 45px;
  padding-left: 12px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #dfdee0;
  margin-left: 14px;
}

input.cvc-input-style::placeholder {
  color: #21092f;
  opacity: 0.25;
  font-size: 18px;
}

button {
  width: 381px;
  height: 53px;
  border: none;
  background: #21092f;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

button:hover {
  opacity: 0.9;
}

/* 







Mobile Views







*/

/* 




Mobile Lanscape



*/

@media only screen and (max-width: 999px) {
  * {
    border: 1px solid red;
  }

  .cc-bg {
    background: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
  }

  .container {
    max-width: 1250px;
    margin: auto;
    padding: 0 0rem;
  }

  .cc-component-container {
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
  }

  .cc-images {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .back-cc-img {
    transform: translateX(12px);
    padding-top: 0rem;
    position: relative;
    background: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 340px;
    height: 250px;
  }

  .back-cc-img img {
    display: none;
  }

  p.cvc-number {
    font-size: 9px;
    top: 34%;
  }

  .front-cc-img {
    transform: translateX(-14px);
    margin-top: -6rem;
    background: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 340px;
    height: 250px;
    z-index: 2;
  }

  .front-cc-img img {
    display: none;
  }

  .cc-logo img {
    display: block;
    width: 50px;
  }

  p.cc-number {
    top: 40%;
    left: 11%;
    font-size: 18px;
  }

  p.cc-name {
    font-size: 9px;
    top: 62%;
    left: 8%;
  }

  p.cc-date {
    font-size: 9px;
    top: 62%;
    right: 8%;
  }

  form {
    display: none;
  }
}

/* 




Mobile Portrait




*/

@media only screen and (max-width: 639px) {
  .cc-bg {
    height: 37vh;
  }
}
